.left{
  height: 30vh;
  padding: 1rem 40%;
  width: 100%;
  background-color: rgb(175, 175, 223);
  padding-top: 4rem;
}
button{
  background-color: blue;
  padding: 4px 10px;
  border: none;
  font-size: 1.6rem;
  color: white;
  border-radius: 4px;
  margin-top: 2rem;
  margin-left: 6rem;
}
.right{
  background-color: purple;
  height: 50Vh;
 text-align: center;
  color: white;
}
.right h1{
  padding-top: 1rem;
}
.right h3{
  padding: 2rem;
  background-color: navy;
  width: 40%;
}
.outer{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.box{
  margin:0.5rem ;
  width: 200px;
  height: 100px;
  padding-top: 2rem;
  font-size: 1.4rem;
  
  position: relative;
}
span{
  position: absolute;
  top: 2px;
  left:177px;
}
h2{text-align: center; font-size:2rem ;}

