.left{
  height: 40vh;
  margin: 0 40%;
  padding-top: 4rem;
}
button{
  background-color: blue;
  padding: 4px 10px;
  border: none;
  font-size: 1.6rem;
  color: white;
  border-radius: 4px;
  margin-top: 2rem;
  margin-left: 6rem;
}
.right{
  background-color: purple;
  height: 40Vh;
  text-align: center;
  color: white;
}
.right h1{
  padding-top: 1rem;
}
.right h3{
  padding: 2rem;
  margin: 0 auto;
  background-color: navy;
  width: 40%;
}

.box{
  margin:0.5rem auto;
  width: 200px;
}